<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70071156259-9k61okenv5l0psjckql909c9r5frh3aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70071156259-9k61okenv5l0psjckql909c9r5frh3aq</string>
	<key>API_KEY</key>
	<string>AIzaSyCP7ViA8hHlcjPXwmWdVNTKsPGOMcIuF3g</string>
	<key>GCM_SENDER_ID</key>
	<string>70071156259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AjayMoturi.Koalateer</string>
	<key>PROJECT_ID</key>
	<string>koalateer-86d98</string>
	<key>STORAGE_BUCKET</key>
	<string>koalateer-86d98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70071156259:ios:6bf4d8469dc1cf13cafb96</string>
</dict>
</plist>